.App {
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  left: 0;
  top: 0;
}

td {
  white-space: normal !important;
  word-wrap: break-word;
}
table {
  table-layout: fixed;
}

.w-35{
  width: 35%;
  box-sizing: border-box;
}


.w-26{
  width: 26%;
  box-sizing: border-box;
}


.w-22{
  width: 22%;
  box-sizing: border-box;
}

